@mixin backgrounds($backgroundColor,$backgroundHeight){
  background-color: $backgroundColor;
  width: 100%;
  height: $backgroundHeight;

}

$lightgreen : rgb(109,149,64);
$backgroundheight : 400px;

#fixedbackground {
  @include backgrounds($lightgreen,$backgroundheight);
  position : fixed;
}

#fixedbackground h1{
  text-align: center;
  color: rgb(215,215,214);
  height:$backgroundheight / 2;
  line-height:$backgroundheight * 4 / 5;
}

.content{
  margin-top: $backgroundheight + 30px;
}

.callout h3 {
  text-align: center;
  font-weight:bold;
}

$footerheight : 70px;
$lightyellow : rgb(248,243,132);

#footer{
  @include backgrounds($lightyellow,$footerheight);
  text-align: center;
  bottom:0;
}

#footer h2{
  height:$footerheight / 2;
  line-height:$footerheight;
  color: rgb(168,131,180);
}

.row{
  max-width:100%;
}

.col4{
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
}

#left-menu{
  position:absolute;
  z-index:10;
}

#sidr h1{
  font-size: 1.5em;
  text-align: center;
}

/**************** Media Queries *********************/

$screen: "only screen" !default;
$lightred : rgb(178,120,120);

@media  (min-width: 40.063em) {
  #fixedbackground {
    @include backgrounds($lightred,$backgroundheight);
    position : fixed;
  }

  .col6{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
